{% extends "base.html" %}
{% block content %}
<section style="padding-top: 10rem;">
    <div class="container">

        <div class="mb-7 text-center">
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold">Наши работы</h3>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card overflow-hidden shadow">
                    <img class="card-img-top" src="static/images/category-11.jpg" alt=""/>
                    <div class="card-body py-4 px-3">
                        <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                            <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!"></a></h4><span class="fs-1 fw-medium">От 50 000 рублей</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card overflow-hidden shadow">
                    <img class="card-img-top" src="static/images/category-12.jpg" alt=""/>
                    <div class="card-body py-4 px-3">
                        <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                            <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!"></a></h4><span class="fs-1 fw-medium">От 75 000 рублей</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card overflow-hidden shadow">
                    <img class="card-img-top" src="static/images/category-13.jpg" alt=""/>
                    <div class="card-body py-4 px-3">
                        <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                            <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!"></a></h4><span class="fs-1 fw-medium">От 40 000 рублей</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}