{% extends "base.html" %}

{% block content %}
<h1 style="margin-left:20px;">Добавление отзыва</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.content(class="form-control",style="margin: 20px 0 0 20px;width:90%;height:200px;", placeholder="Введите текст") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private(style="margin-left:20px;") }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", style="margin: 1px 0 0 20px;") }}</p>
    {{message}}
</form>
{% endblock %}