{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Авторизация</h1>
    <form class="container" action="" method="post" style="margin-left:450px;">
        {{ form.hidden_tag() }}
        <p style="width: 400px;">
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="width: 400px;margin-bottom:0px;">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="width: 400px;">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style='width:400px;margin-bottom:100px;') }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}