{% extends "base.html" %}

{% block content %}
<section style="padding-top: 10rem;">
    <div class="container">


        <form class="mx-auto w-lg-50" action="" enctype="multipart/form-data" method="post">
<form method="post">
    <h4>Введите свой номер телефона и чертёж или фотографию</h4>
        <label for="login">Введите контактные данные (номер телефона):</label>
        <input type="text" id="login" name="login">
        <form method="post" enctype="multipart/form-data"> <br>
        <input type="file" name="image" id="image" accept="image/*">
        <button type="submit">Отправить</button>
    </form>

        </form>
    </div>
</section>
{% endblock %}