{% extends "base.html" %}

{% block content %}
<style >
  .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 10px); /* Ширина карточки с учетом промежутков */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}
</style>
        <div class="card-container">
  <div class="card">
    <h3>Карточка 1</h3>
    <p>Содержимое карточки 1</p>
  </div>
  <div class="card">
    <h3>Карточка 2</h3>
    <p>Содержимое карточки 2</p>
  </div>
  <div class="card">
    <h3>Карточка 3</h3>
    <p>Содержимое карточки 3</p>
  </div>
   <div class="card">
    <h3>Карточка 4</h3>
    <p>Содержимое карточки 4</p>
  </div>
          <div class="card">
    <h3>Карточка 5</h3>
    <p>Содержимое карточки 5</p>
  </div>
          <div class="card">
    <h3>Карточка 6</h3>
    <p>Содержимое карточки 6</p>
  </div>

  <!-- Добавьте еще карточки по аналогии -->
</div>
{% endblock %}